/* CSS for larger devices */
nav {
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 11rem;
}

li a {
    text-decoration: none;
    padding-right: 1rem;
    cursor: pointer;
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
    transition: 0.3s;
}

nav li a:hover {
    color: #CD9A32;
}

@media(max-width:768px){
    nav li a{
        font-size: 0.8rem;
    }
}