.bricks-heading{
    margin: 2rem 0.5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #CD9A32;
    font-weight: 700;
}
.brick-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.brick img{
    width: 15rem;
    height:8rem;
    transition: all linear 0.5s;
    cursor: pointer;
}
.brick img:hover{
    scale: 1.05;
}
.brick h4{
 text-align: center;
    font-size: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: all linear 0.3s;
}
.brick h4:hover{
    font-weight: 600;
    color: #CD9A32;
}